.home_post_img_wrapper {
  background-color: #0fffc79b;
  padding: 15px 15px;
  width: 300px;
  /* max-height: 375px; */
  border-radius: 10px;
  margin: 40px 20px;
  transition: transform 0.5s ease;
}
.home_post_img_wrapper:hover {
  transform: scale(1.2);
}

.home_post_img_wrapper .home_title {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0 15px;
}

.home_post_img_wrapper .home_price {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  padding: 0 15px;
  margin: 5px 0 10px;
}
.home_post_img_wrapper img {
  width: 100%;
  object-fit: cover;
  max-height: 270px;
}
